* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("images/romelbg.png");
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
div h2 span {
  
  border-style: solid;
  border-color: white;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: rgb(170, 0, 255);
  left: 0;
  bottom: -6px;
  transition-duration: 0.25s;
}
nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
  width: 45%;
}
.header-text h1 span {
  color: rgb(140, 0, 255);
}
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.about-col-2 h1 {
    font-size: 60px;
    color: white;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: rgb(170, 0, 255);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.25s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span {
    color: rgb(170, 0, 255);
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
/* ----------------services---------------- */
#services {
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    margin-top: 50px;
}
.services-item h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.services-item p {
    line-height: 26px;
}
.services-item a {
    color: #ababab;
    text-decoration: none;
}
.icon {
    font-size: 38px;
    margin-bottom: 33px;
}
.services-item {
    padding: 6%;
    background-color: grey;
    border-radius: 6px;
    transition: .5s;
}
.services-item:hover {
    background-color: rgb(170, 0, 255);
    transform: translateY(-10px);
}
/* -------------portfolio------------- */
 #portfolio {
  padding: 50px 0;
 }
 .work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 40px;
  margin-top: 50px;
 }
 .work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
 }
 .work img {
  width: 100%;
  display: block;
  transition: 0.5s; 
 }
 .layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, .6), rgb(170, 0, 255));
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: 0.5s;
 }
 .layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
 }
 .layer a {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(170, 0, 255);
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
 }
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid rgb(170, 0, 255);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.btn:hover {
  background: rgb(170, 0, 255);
}
/* -----------------contact----------------- */
.contact-left {
  flex-basis: 35%;
}
.contac-right {
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: rgb(170, 0, 255);
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 15px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: 0.5s;
}
.social-icons a:hover {
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: rgb(170, 0, 255);
}
.contact-right form{
  width: 100%;
}
form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: rgb(170, 0, 255);
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  align-items: center;
  text-align: center;
  background: #262626;
  padding: 25px;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: rgb(170, 0, 255);
}